.admin-bar .menu-modal {
    top: 32px;
}
.showing-menu-modal::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}
.menu-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 320px;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    background-color: var(--white-color);
    -webkit-transform: translate3d(-5000px, 0, 0);
    transform: translate3d(-5000px, 0, 0);
}
.menu-modal.active {
    left: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
    z-index: 9999;
}
button.close-nav-toggle {
    width: 100%;
    background: var(--theme-color);
    color: var(--white-color);
    cursor: pointer;
}

.modal-menu {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.modal-menu li {
    position: relative;
    display: flow-root;
    clear: both;
}
.modal-menu li a {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    min-height: 50px;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    border-bottom: 1px solid rgba(129, 129, 129, .2);
    color: #2d2a2a;
}

.modal-menu li.menu-item-has-children>a {
    width: 83%;
    float: left;
}

.modal-menu li ul.sub-menu {
    list-style-type: none;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.modal-menu li ul.sub-menu.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.modal-menu .sub-menu-toggle {
    padding-right: 0;
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(129, 129, 129, .2);
    border-bottom: 1px solid rgba(129, 129, 129, .2);
    border-top: 0;
    border-right: 0;
    color: #2d2a2a;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color .25s ease, color .25s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    float: right;
    width: 17%;
    margin: 0;
}
.sub-menu-toggle i {
    transition: transform 0.15s linear;
}
.sub-menu-toggle.active i {
    transform: rotate(180deg);
}

.box-header-nav .sub-menu-toggle,
button.mobile-nav-toggle {
    display: none;
    background-color: transparent;
    padding: 0;
    font-weight: normal;
}
.toggle.nav-toggle.mobile-nav-toggle:hover {
    color: #232529;
}

/** Mobile Menu Search **/
.cleaninglight-menu-search-form{
    padding: 10px;
}
.cleaninglight-menu-search-form input {
    border: 1px solid var(--theme-color);
}

/** Mobile Menu Tabs **/
.menu-modal .cleaninglight-menu-tabs{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .04);
}
.menu-modal .cleaninglight-menu-tabs button {
    position: relative;
    flex-grow: 1;
    padding: 18px 15px;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
    color: var(--black-color);
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.menu-modal .cleaninglight-menu-tabs button.active{
    background-color: var(--theme-color);
    color: var(--white-color);
}
.cleaninglight-tab-content .tab-content{
    overflow-y: scroll;
}

.menu-modal .cleaninglight-quick-contact {
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    display: flex;
}
.menu-modal .cleaninglight-contact-item{
    width: 100%;
}
.menu-modal .cleaninglight-contact-item:before{
    display: none;
}
.hidden{
    display: none;
}
/** Mobile Menu Button **/
.cleaninglight-menu-button{
    margin: 1rem 5px;
}


@media (max-width: 992px) {
    .admin-bar .menu-modal {
        top: 45px;
    }
    .sub-menu-toggle,
    button.mobile-nav-toggle {
        display: inline;
        float: right;
    }
    .mobile-nav-toggle {
        cursor: pointer;
        color: #232529;
    }
    .toggle-inner {
        font-size: 22px;
    }
}